In [1]:
import pandas as pd

In [4]:
ST=pd.read_csv("C:\\Users\computer\Shark_Tank_India.csv")

In [5]:
ST

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

# Q1. Find the number of episodes?

In [6]:
print (ST["episode_number"].max(),"episode\n")

35 episode

# Q2. Max, min , mean of asked amount,asked equity, asked valuation?

In [7]:
print(ST["ask_equity"].min())
print(ST["ask_equity"].max())
print(ST["ask_equity"].mean())

0.25
25.0
5.188034188034188

In [8]:
print(ST["pitcher_ask_amount"].min())
print(ST["pitcher_ask_amount"].max())
print(ST["pitcher_ask_amount"].mean())

0.00101
30000.0
319.8547094871795

In [9]:
print(ST["ask_valuation"].min())
print(ST["ask_valuation"].max())
print(ST["ask_valuation"].mean())

0.01
120000.0
3852.4624786324785

# Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise?

In [10]:
group_data= ST.groupby("episode_number").agg({'pitcher_ask_amount':['max','min']})
print (group_data)

               pitcher_ask_amount
                              max       min
episode_number
1                            50.0  25.00000
2                            70.0  50.00000
3                           100.0  50.00000
4                            75.0  50.00000
5                           100.0  10.00000
6                           100.0  45.00000
7                           100.0  50.00000
8                            56.0  30.00000
9                           100.0  50.00000
10                           30.0  25.00000
11                        30000.0  30.00000
12                           75.0  40.00000
13                           50.0  30.00000
14                          100.0  45.00000
15                           50.0   5.00000
16                           80.0  45.00000
17                          150.0  50.00000
18                          100.0  50.00000
19                          125.0  15.00000
20                           65.0  35.00000
21                          100.0  35.00000
22                           80.0  50.00000
23                          100.0  30.00000
24                           40.0  20.00000
25                          150.0  50.00000
26                           65.0  50.00000
27                          100.0   0.00101
28                           90.0  50.00000
29                          100.0  75.00000
30                          300.0  50.00000
31                           75.0  50.00000
32                          200.0  35.00000
33                           40.0  35.00000
34                          100.0  30.00000
35                          100.0  40.00000

In [11]:
group_data= ST.groupby("episode_number").agg({'ask_equity':['max','min']})
print (group_data)

               ask_equity
                      max   min
episode_number
1                    15.0  5.00
2                     5.0  1.00
3                     4.0  0.25
4                    10.0  4.00
5                    20.0  1.00
6                    10.0  1.00
7                     7.5  1.00
8                     7.5  2.50
9                     5.0  2.50
10                    5.0  2.00
11                   25.0  5.00
12                    5.0  3.00
13                   10.0  2.00
14                    5.0  3.00
15                    5.0  3.00
16                    7.0  2.00
17                   10.0  3.00
18                    4.0  1.00
19                    8.0  1.25
20                    5.0  2.00
21                   10.0  5.00
22                    5.0  2.00
23                    5.0  1.00
24                   10.0  8.00
25                    4.0  2.00
26                   10.0  1.00
27                   10.0  1.00
28                    5.0  4.00
29                    5.0  3.00
30                   15.0  1.00
31                   10.0  2.00
32                    7.0  1.00
33                   10.0  1.00
34                   10.0  1.00
35                    8.0  2.50

In [12]:
group_data= ST.groupby("episode_number").agg({'ask_valuation':['max','min']})
print (group_data)

               ask_valuation
                         max      min
episode_number
1                    1000.00   250.00
2                    7000.00  1000.00
3                   40000.00  1875.00
4                    1875.00   500.00
5                   10000.00    50.00
6                   10000.00   500.00
7                    7500.00   666.67
8                    2000.00   746.67
9                    2000.00  1000.00
10                   1500.00   500.00
11                 120000.00   300.00
12                   1875.00   800.00
13                   2500.00   500.00
14                   3333.33   900.00
15                   1250.00   100.00
16                   2250.00  1071.43
17                   5000.00   500.00
18                  10000.00  1250.00
19                  10000.00   300.00
20                   3250.00   700.00
21                   1250.00   470.00
22                   3000.00  1500.00
23                  10000.00   600.00
24                    500.00   200.00
25                   7500.00  1250.00
26                   6500.00   500.00
27                  10000.00     0.01
28                   1875.00  1000.00
29                   2857.14  1500.00
30                  30000.00   500.00
31                   3750.00   500.00
32                   5000.00   583.33
33                   3500.00   400.00
34                  10000.00   400.00
35                   4000.00   500.00

# Q4. Brand names in which 2 ,3 or 4 sharks are invested?#

In [13]:
s = ((ST['total_sharks_invested'] == 2) | (ST['total_sharks_invested'] == 3) | (ST['total_sharks_invested'] == 4))
#print()
ST.loc[s,'brand_name']

0                 BluePine Industries
1                       Booz scooters
2                 Heart up my Sleeves
9                               Cosiq
11                             Bummer
12                        Revamp Moto
18                 Raising Superstars
21                       Beyond Snack
22     Vivalyf Innovations- Easy Life
24                              Altor
25                              Ariro
27                            Nuutjob
28                           Meatyour
29                          EventBeep
32                              Farda
35                               LOKA
36                              Annie
37                          Caragreen
38                    The Yarn Bazaar
39                  The Renal Project
44                            Cocofit
45                       Bamboo India
47                       Beyond Water
48                          Let's Try
50                      Aas Vidyalaya
58                            WeSTOCK
64                         Get a Whey
66                    The Quirky Nari
67                     Hair Originals
75                       The Sass Bar
85                 Watt Technovations
88                           Humpy A2
90           Gold Safe Solutions Ind.
91                        Wakao Foods
95                       Kabaddi Adda
108                        Tweek Labs
109                            Proxgy
110                Nomad Food Project
114                     Jain Shikanji
Name: brand_name, dtype: object

# Q5. Episode wise minimum and maximum of sharks invested?

In [14]:
print (ST.groupby(["episode_number"])["total_sharks_invested"].min())

episode_number
1     2
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    3
11    0
12    0
13    2
14    0
15    1
16    0
17    0
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
Name: total_sharks_invested, dtype: int64

In [15]:
print (ST.groupby(["episode_number"])["total_sharks_invested"].max())

episode_number
1     3
2     1
3     1
4     2
5     2
6     5
7     2
8     2
9     2
10    3
11    2
12    3
13    4
14    2
15    3
16    2
17    5
18    1
19    4
20    5
21    3
22    3
23    1
24    2
25    5
26    1
27    4
28    3
29    3
30    2
31    1
32    1
33    3
34    4
35    4
Name: total_sharks_invested, dtype: int64

# Q6. Minimum and Maximum sharks invested in each brand?

In [16]:
print (ST.groupby(["brand_name"])["total_sharks_invested"].min())

brand_name
ARRCOAT Surface Textures          1
Aas Vidyalaya                     3
Agro tourism                      0
Aliste Technologies               0
Alpino                            0
                                 ..
Vivalyf Innovations- Easy Life    2
Wakao Foods                       3
Watt Technovations                4
WeSTOCK                           4
Woloo                             0
Name: total_sharks_invested, Length: 117, dtype: int64

In [17]:
print (ST.groupby(["brand_name"])["total_sharks_invested"].max())

brand_name
ARRCOAT Surface Textures          1
Aas Vidyalaya                     3
Agro tourism                      0
Aliste Technologies               0
Alpino                            0
                                 ..
Vivalyf Innovations- Easy Life    2
Wakao Foods                       3
Watt Technovations                4
WeSTOCK                           4
Woloo                             0
Name: total_sharks_invested, Length: 117, dtype: int64

# Q7. Brand names who ask for 1 crore and got a deal?

In [18]:
brand_ask_1cr_deal_done = ST[(ST['pitcher_ask_amount']==100) & (ST['deal'])]['brand_name'].tolist()
for i in brand_ask_1cr_deal_done:
  print(i)

Revamp Moto
The Renal Project
Otua
Get a Whey
Namhya Foods
Sunfox Technologies
Insurance Samadhan

# Q8. Brand names where deal equity is between 0 to 50?

In [19]:
brands = ST[(ST['deal_equity']>=0) & (ST['deal_equity']<=50)]['brand_name'].tolist()
for brand in brands:
  print(brand)

BluePine Industries
Booz scooters
Heart up my Sleeves
Tagz Foods
Head and Heart
Agro tourism
Qzense Labs
Peeschute
NOCD
Cosiq
JhaJi Achaar
Bummer
Revamp Moto
Hungry Heads
Shrawani Engineers
Skippi Pops
Menstrupedia
Hecolll
Raising Superstars
Torch-it
La Kheer Deli
Beyond Snack
Vivalyf Innovations- Easy Life
Motion Breeze
Altor
Ariro
Kabira Handmade
Nuutjob
Meatyour
EventBeep
Gopal's 56
ARRCOAT Surface Textures
Farda
Auli Lifestyle
SweeDesi
LOKA
Annie
Caragreen
The Yarn Bazaar
The Renal Project
Morikko Pure Foods
Good Good Piggy Bank
Hammer Lifestyle
PNT
Cocofit
Bamboo India
Flying Furr
Beyond Water
Let's Try
Find Your Kicks India
Aas Vidyalaya
Outbox
RoadBounce
Mommy's Kitchen
India Hemp and Co
Otua
Anthyesti
Ethik
WeSTOCK
KetoIndia
Magic lock
The State Plate
Bakarmax
IN A CAN
Get a Whey
The Quirky Nari
Hair Originals
Poo de Cologne
Moonshine Meads
Falhari
Namhya Foods
Urban Monkey
Guardian Gears
Modern Myth
The Sass Bar
KG Agrotech
Nuskha Kitchen
PawsIndia
Sunfox Technologies
Alpino
Isak Fragrances
Julaa Automation
Rare Planet
Theka Coffee
Watt Technovations
Aliste Technologies
Insurance Samadhan
Humpy A2
Kunafa World
Gold Safe Solutions Ind.
Wakao Foods
PDD Falcon
PlayBox TV
Sippline Drinking Shields
Kabaddi Adda
Shades of Spring
Scholify
Scrapshala
Sabjikothi
AyuRythm
Astrix
Thea and Sid
Experential Etc
GrowFitter
Med Tech
Colour Me Mad
Mavi's
Tweek Labs
Proxgy
Nomad Food Project
Twee in One
Green Protein
On2Cook
Jain Shikanji
Woloo
Elcare India

# Q9. Find the number of brands participated in each episode?

In [20]:
b = ST.groupby('episode_number')['brand_name'].nunique()
print(b)

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

# Q10. How many sharks participated in this show and What were their names?

In [21]:
count = 0
for col in ST.columns:
  if '_present' in col:
    count += 1
    print(col.replace('_present',''))
print(count)

ashneer
anupam
aman
namita
vineeta
peyush
ghazal
7

# Q11. Find appearance of each sharks?

In [25]:
ST['ghazal_present'].sum()

26

In [26]:
ST['aman_present'].sum()

98

In [27]:
ST['ashneer_present'].sum()

98

In [28]:
ST['namita_present'].sum()

106

In [29]:
ST['anupam_present'].sum()

117

In [30]:
ST['vineeta_present'].sum()

66

In [31]:
ST['peyush_present'].sum()

88

# Q12. How many entrepreneurs were present?

In [32]:
entrepreneurs_present=ST.groupby('brand_name').agg({'pitch_number':['count']})
print(entrepreneurs_present)

                               pitch_number
                                      count
brand_name
ARRCOAT Surface Textures                  1
Aas Vidyalaya                             1
Agro tourism                              1
Aliste Technologies                       1
Alpino                                    1
...                                     ...
Vivalyf Innovations- Easy Life            1
Wakao Foods                               1
Watt Technovations                        1
WeSTOCK                                   1
Woloo                                     1

[117 rows x 1 columns]

# Q13. How many times each shark invested the deal?

In [42]:

n=ST['brand_name'].unique()
print(n)
print(n.shape[0])

['BluePine Industries' 'Booz scooters' 'Heart up my Sleeves' 'Tagz Foods'
 'Head and Heart' 'Agro tourism' 'Qzense Labs' 'Peeschute' 'NOCD' 'Cosiq'
 'JhaJi Achaar' 'Bummer' 'Revamp Moto' 'Hungry Heads' 'Shrawani Engineers'
 'Skippi Pops' 'Menstrupedia' 'Hecolll' 'Raising Superstars' 'Torch-it'
 'La Kheer Deli' 'Beyond Snack' 'Vivalyf Innovations- Easy Life'
 'Motion Breeze' 'Altor' 'Ariro' 'Kabira Handmade' 'Nuutjob' 'Meatyour'
 'EventBeep' "Gopal's 56" 'ARRCOAT Surface Textures' 'Farda'
 'Auli Lifestyle' 'SweeDesi' 'LOKA' 'Annie' 'Caragreen' 'The Yarn Bazaar'
 'The Renal Project' 'Morikko Pure Foods' 'Good Good Piggy Bank'
 'Hammer Lifestyle' 'PNT' 'Cocofit' 'Bamboo India' 'Flying Furr'
 'Beyond Water' "Let's Try" 'Find Your Kicks India' 'Aas Vidyalaya'
 'Outbox' 'RoadBounce' "Mommy's Kitchen" 'India Hemp and Co' 'Otua'
 'Anthyesti' 'Ethik' 'WeSTOCK' 'KetoIndia' 'Magic lock' 'The State Plate'
 'Bakarmax' 'IN A CAN' 'Get a Whey' 'Sid07 Designs' 'The Quirky Nari'
 'Hair Originals' 'Poo de Cologne' 'Moonshine Meads' 'Falhari'
 'Namhya Foods' 'Urban Monkey' 'Guardian Gears' 'Modern Myth'
 'The Sass Bar' 'KG Agrotech' 'Nuskha Kitchen' 'PawsIndia'
 'Sunfox Technologies' 'Alpino' 'Isak Fragrances' 'Julaa Automation'
 'Rare Planet' 'Theka Coffee' 'Watt Technovations' 'Aliste Technologies'
 'Insurance Samadhan' 'Humpy A2' 'Kunafa World' 'Gold Safe Solutions Ind.'
 'Wakao Foods' 'PDD Falcon' 'PlayBox TV' 'Sippline Drinking Shields'
 'Kabaddi Adda' 'Shades of Spring' 'Scholify' 'Scrapshala' 'Sabjikothi'
 'AyuRythm' 'Astrix' 'Thea and Sid' 'Experential Etc' 'GrowFitter'
 'Med Tech' 'Colour Me Mad' "Mavi's" 'Tweek Labs' 'Proxgy'
 'Nomad Food Project' 'Twee in One' 'Green Protein' 'On2Cook'
 'Jain Shikanji' 'Woloo' 'Elcare India']
117

# Q14. Find the equity percent that each sharks gets?

In [43]:
a = ST['aman_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                brand_name  equity_per_shark
0      BluePine Industries          5.333333
7                Peeschute          6.000000
11                  Bummer          3.750000
12             Revamp Moto          0.750000
15             Skippi Pops          3.000000
18      Raising Superstars          2.000000
21            Beyond Snack          1.250000
24                   Altor          3.500000
25                   Ariro          5.000000
27                 Nuutjob          6.666667
28                Meatyour          6.666667
29               EventBeep          1.000000
32                   Farda         10.000000
35                    LOKA          8.000000
38         The Yarn Bazaar          2.500000
39       The Renal Project          3.000000
42        Hammer Lifestyle         40.000000
44                 Cocofit          1.666667
47            Beyond Water          7.500000
48               Let's Try          6.000000
49   Find Your Kicks India          5.000000
58                 WeSTOCK          2.500000
63                IN A CAN          2.000000
64              Get a Whey          5.000000
71            Namhya Foods         10.000000
100               AyuRythm          2.680000
104             GrowFitter          2.000000
114          Jain Shikanji          7.500000

In [44]:
a = ST['ghazal_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                   brand_name  equity_per_shark
75               The Sass Bar              17.5
79        Sunfox Technologies               1.2
85         Watt Technovations               1.0
88                   Humpy A2               5.0
90   Gold Safe Solutions Ind.              10.0
91                Wakao Foods               7.0
110        Nomad Food Project               5.0

In [45]:
a = ST['ashneer_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                brand_name  equity_per_shark
0      BluePine Industries          5.333333
1            Booz scooters         25.000000
3               Tagz Foods          2.750000
15             Skippi Pops          3.000000
18      Raising Superstars          2.000000
21            Beyond Snack          1.250000
23           Motion Breeze          6.000000
29               EventBeep          1.000000
38         The Yarn Bazaar          2.500000
45            Bamboo India          1.750000
49   Find Your Kicks India          5.000000
50           Aas Vidyalaya          5.000000
55                    Otua          1.000000
58                 WeSTOCK          2.500000
63                IN A CAN          2.000000
64              Get a Whey          5.000000
67          Hair Originals          1.333333
108             Tweek Labs          3.333333
109                 Proxgy          5.000000
110     Nomad Food Project          5.000000
114          Jain Shikanji          7.500000

In [46]:
a = ST['namita_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                brand_name  equity_per_shark
11                  Bummer          3.750000
15             Skippi Pops          3.000000
16            Menstrupedia         20.000000
24                   Altor          3.500000
27                 Nuutjob          6.666667
32                   Farda         10.000000
33          Auli Lifestyle         15.000000
36                   Annie          1.000000
39       The Renal Project          3.000000
44                 Cocofit          1.666667
47            Beyond Water          7.500000
49   Find Your Kicks India          5.000000
50           Aas Vidyalaya          5.000000
58                 WeSTOCK          2.500000
63                IN A CAN          2.000000
79     Sunfox Technologies          1.200000
83             Rare Planet          3.000000
85      Watt Technovations          1.000000
91             Wakao Foods          7.000000
95            Kabaddi Adda          3.000000
106          Colour Me Mad         25.000000
110     Nomad Food Project          5.000000

In [47]:
a = ST['anupam_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                         brand_name  equity_per_shark
2               Heart up my Sleeves         15.000000
9                             Cosiq         12.500000
12                      Revamp Moto          0.750000
15                      Skippi Pops          3.000000
22   Vivalyf Innovations- Easy Life         16.650000
28                         Meatyour          6.666667
31         ARRCOAT Surface Textures         15.000000
35                             LOKA          8.000000
36                            Annie          1.000000
37                        Caragreen         10.000000
38                  The Yarn Bazaar          2.500000
44                          Cocofit          1.666667
45                     Bamboo India          1.750000
48                        Let's Try          6.000000
49            Find Your Kicks India          5.000000
63                         IN A CAN          2.000000
66                  The Quirky Nari         12.000000
67                   Hair Originals          1.333333
75                     The Sass Bar         17.500000
78                        PawsIndia         15.000000
79              Sunfox Technologies          1.200000
85               Watt Technovations          1.000000
108                      Tweek Labs          3.333333
114                   Jain Shikanji          7.500000

In [48]:
a = ST['vineeta_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                   brand_name  equity_per_shark
0         BluePine Industries          5.333333
1               Booz scooters         25.000000
2         Heart up my Sleeves         15.000000
8                        NOCD         15.000000
9                       Cosiq         12.500000
15                Skippi Pops          3.000000
64                 Get a Whey          5.000000
66            The Quirky Nari         12.000000
79        Sunfox Technologies          1.200000
88                   Humpy A2          5.000000
90   Gold Safe Solutions Ind.         10.000000
91                Wakao Foods          7.000000
95               Kabaddi Adda          3.000000
110        Nomad Food Project          5.000000
114             Jain Shikanji          7.500000

In [49]:
a = ST['peyush_deal'] ==1
b = ST.loc[a,['brand_name','equity_per_shark']]
print(b)

                         brand_name  equity_per_shark
22   Vivalyf Innovations- Easy Life         16.650000
25                            Ariro          5.000000
27                          Nuutjob          6.666667
28                         Meatyour          6.666667
29                        EventBeep          1.000000
35                             LOKA          8.000000
36                            Annie          1.000000
37                        Caragreen         10.000000
38                  The Yarn Bazaar          2.500000
43                              PNT         25.000000
49            Find Your Kicks India          5.000000
50                    Aas Vidyalaya          5.000000
52                       RoadBounce         20.000000
58                          WeSTOCK          2.500000
61                  The State Plate          3.000000
63                         IN A CAN          2.000000
65                    Sid07 Designs         75.000000
67                   Hair Originals          1.333333
76                      KG Agrotech         40.000000
79              Sunfox Technologies          1.200000
81                  Isak Fragrances         50.000000
85               Watt Technovations          1.000000
87               Insurance Samadhan          4.000000
88                         Humpy A2          5.000000
90         Gold Safe Solutions Ind.         10.000000
108                      Tweek Labs          3.333333
109                          Proxgy          5.000000

# Q15. Find the total number of amount invested in this show?

In [50]:
ST['total_sharks_invested'] = ST['total_sharks_invested']*ST['amount_per_shark']
total_investment = ST['total_sharks_invested'].sum()
print(f'total amount invested:{total_investment}')

total amount invested:3742.001060079